<footer>
    <!-- all the stuff for the whole site that belongs in the footer-->
    <a id="validation_link_html" href="https://validator.w3.org/check?uri=referer">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." class="buttons">
    </a>
    <nav>
        <a href="https://www.freecodecamp.org/LPrieto">FreeCodeCamp Profile</a>
        <a href="https://www.codecademy.com/profiles/LPrieto0">Codecademy Profile</a>
        <a href="https://github.com/LPr1370">Github Profile</a>
        <a href="https://LPr1370.github.io">Github.io Repository</a>
    </nav>
    <a id="validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." class="buttons">
    </a>
    <p class="business-card-link">Designed by <a href="business_card.html">Prieto Design Principles</a></p>
</footer>